<!DOCTYPE html>
<html>
<head>
    <title>Task Manager</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>

    <section id="app">
        <ul id="category-list">
            <li v-for="cat in categories" class="category-list-item">
                {{ cat.name }}
                <ul class="task-list">
                    <li v-for="task in cat.tasks" class="task-list-item">{{ task }}</li>
                </ul>
            </li>
        </ul>
    </section>

    <script src="js/vue.dev.js"></script>
    <script src="js/app.js"></script>
</body>
</html>