<!DOCTYPE html>
<html>
<head>
    <title>Task Manager</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/modal.css" />
</head>
<body>

    <section id="app">

        <div id="new-category-wrapper">
            <input type="text" v-model="newCategory" v-on:keyup.enter="createCategory" id="new-category-input" placeholder="New category" />
        </div>

        <ul id="category-list">
            <li v-for="(cat, index) in categories" class="category-list-item">

                <div class="delete-icon category-delete-icon" v-on:click="showModal(index, 'category-delete')">X</div>
                <h3 class="category-name">{{ cat.name }}</h3>

                <div class="clear"></div>

                <ul class="task-list">
                    <li class="task-list-item task-new">
                        <p v-on:click="showTaskInput(index)">Add task..</p>
                    </li>
                    <li class="task-list-item">
                        <input type="text" v-bind:id="index + '-task-input'" v-on:keyup.enter="createTask(index)" placeholder="new task..." class="new-task-input" />
                    </li>
                    <li v-for="(task, taskIndex) in cat.tasks" class="task-list-item">
                        <div class="delete-icon task-delete-icon" v-on:click="showModal(taskIndex, 'task-delete', index)">X</div>
                        
                        <p v-bind:class="{'task-complete': task.complete}" v-on:click="toggleCompletion(taskIndex, index, task.complete)">
                            {{ task.text }}
                        </p>

                        <div class="clear"></div>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- Modal component -->
        <zaffri-modal v-if="modalVisible" v-bind:data="zaffriModal" v-on:hide_modal_emit="hideModal"></zaffri-modal>
    </section>

    <!-- Modal markup -->
    <div id="zaffri-modal-template" class="zaffri-modal-template">
        <div class="zaffri-modal">

            <div class="zaffri-modal-body">
                <header><h3>{{ data.title }}</h3></header>

                <section class="zaffri-modal-message">
                    <p>{{ data.messageBody }}</p>
                </section>

                <div class="zaffri-modal-button-area">
                    
                    <div v-if="data.type == 'confirm'">
                        <button v-on:click="hideModal(true)">{{ data.confirmText }}</button>
                        <button v-on:click="hideModal(false)">{{ data.cancelText }}</button>
                    </div>

                    <div v-else>
                        <button v-on:click="hideModal">{{ data.confirmText }}</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="js/vue.dev.js"></script>
    <script src="js/modal.js"></script>
    <script src="js/app.js"></script>
</body>
</html>