/**
 * @name TaskManager
 * @description VueJS task manager.
 * @version 1.1.1
 * @author Steven Morrison <steven@zaffri.com>
 */

html {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
	box-sizing: inherit;
    -moz-box-sizing: inherit;
	-webkit-box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
}

#app {
    min-width: 100%;
    height: 100vh;
    max-height: 100vh;
    padding: 0 20px 20px 20px;
    overflow-x: scroll;
    white-space: nowrap;
    background-color: #34175A;
}

#new-category-wrapper, #new-category-input {
    border-radius: 5px;
    outline: none;
}

#new-category-wrapper {
    width: 380px;
    padding: 15px 15px 0 15px;
    background: #432669;
}

#new-category-input {
    width: 350px;
    padding: 10px;
    margin-bottom: 15px;
}

#category-list {
    padding: 15px 0 15px 0;
}

.category-name-wrapper {
    cursor: text;
    padding: 0 10px 0 10px;
}

.category-name {
    cursor: text;
    padding: 3px 0 3px 0;
    font-size: 1.2em;
    font-weight: bold;
}

.category-name:hover {
    background: #FCFFD1;
}

.category-name-edit-input, .task-name-edit-input {
    box-sizing: border-box;
}

.category-name-edit-input {
    width: 100%;
}

.task-name-edit-input {
    width: calc(100% - 50px);
}

.category-delete-icon {
    padding: 0 10px;
    font-size: 12pt;
}

.task-delete-icon {
    font-size: 10pt;
}

.delete-icon {
    float: right;
    color: #aaa;
    cursor: pointer;
    display: none;
    margin-top: 6px;
}

.delete-icon:hover {
    color: #990000;
    font-weight: bold;
}

.complete-icon-wrapper {
    float: left;
    color: #aaa;
    min-width: 25px;
    min-height: 10px;
    margin-top: 6px;
}

.complete-icon-wrapper .complete-icon {
    display: none;
}

.complete-icon-label {
    width: 16px;
    height: 16px;
    cursor: pointer;
    border-radius: 8px;
    border: solid 2px #ccc;
    display: inline-block;
}

#category-list .category-list-item, .task-list {
    background: #fff;
    border-radius: 5px;
}

#category-list .category-list-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    width: 20%;
    padding-top: 15px;
}

.category-list-item:hover .category-delete-icon {
    display: block;
 }

.task-list {
    padding: 15px 10px;
}

.task-list-item {
    list-style: none;
    width: 100%;
    padding-bottom: 5px;
}

.task-list-item:hover .task-delete-icon {
    display: block;
}

.task-list-item:hover .complete-icon-label {
    background: #01DF01;
    border-color: #01DF01;
}

.task-new {
    color: #aaa;
    text-align: right;
    cursor: pointer;
}

.new-task-input {
    width: 100%;
    display: none;
}

.task-text {
    padding-top: 6px;
    cursor: text;
}

.task-text:hover {
    background: #FCFFD1;
}

.task-complete {
    color: #aaa;
    text-decoration: line-through;
}

.task-complete-icon-label {
    background: #04B404;
    border-color: #04B404;
}

.clear {
    clear: both;
}

input {
    padding: 5px;
}